<h1>Add car</h1>

<%= form_with model: @car do |form| %>
  <div>
    <%= form.label :registration_number %>
    <%= form.text_field :registration_number %>
  </div>
  <div>
    <%= form.label :purchase_date %>
    <%= form.date_field :purchase_date %>
  </div>
  <div>
    <%= form.label :purchase_km %>
    <%= form.number_field :purchase_km %>
  </div>
  <div>
    <%= form.label :purchase_price %>
    <%= form.number_field :purchase_price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>